@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-color: rgb(251 148 129);
    --swiper-pagination-color: rgb(251 148 129);
}

.marquee-smooth {
    animation: marquee 20s linear infinite;
}

.marquee-inner {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-smooth {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
}

@layer base {
    body {
        @apply text-black font-light text-xl bg-white relative;
    }
}

@layer components {
    .full-screen {
        width: 100%;
        min-height: calc(100dvh - 96px);
    }

    .nav-toggle {
        transform: translate(-50%, -50%);
    }

    .nav-toggle [class*='bar-'] {
        @apply bg-green;
        @apply block;
        transform: rotate(0deg);
        transition: .2s ease all;
        height: 3px;
        width: 100%;
        margin-bottom: 5px;
    }

    .nav-toggle .bar-bot {
        margin-bottom: 0;
    }

    .opened .bar-top {
        transform: rotate(45deg);
        transform-origin: 15% 15%;
    }

    .opened .bar-mid {
        opacity: 0;
    }

    .opened .bar-bot {
        transform: rotate(-45deg);
        transform-origin: 15% 95%;
    }
}

@layer utilities {}